## POSTGRESQL (accès à la base de données)
OSCAR_CONTAINER_POSGRESQL=oscar-postgres
OSCAR_CONTAINER_POSGRESQL_USER=oscar_dev_user
OSCAR_CONTAINER_POSGRESQL_PASS=oscar_dev_pass
OSCAR_CONTAINER_POSGRESQL_BASE=oscar_dev_db
OSCAR_CONTAINER_POSGRESQL_PORT=5432

# Pensez à créer les dossiers
OSCAR_VOLUMES_POSTGRESQL_DATAS=/home/bouvry/oscar_data/postgresql
OSCAR_VOLUMES_ELASTICSEARCH_DATAS=/home/bouvry/oscar_data/elasticsearch
OSCAR_VOLUMES_DOCUMENTS_ACTIVITY=/home/bouvry/oscar_data/documents/activity
OSCAR_VOLUMES_DOCUMENTS_PUBLIC=/home/bouvry/oscar_data/documents/public
OSCAR_VOLUMES_DOCUMENTS_REQUEST=/home/bouvry/oscar_data/documents/request
OSCAR_VOLUMES_DOCUMENTS_PCRU=/home/bouvry/oscar_data/documents/pcru

## Email de/des administrateurs
# ex : jean.pierre@domain.fr,murielle@domain.fr
OSCAR_ADMIN_ADMINISTRATORS=stephane.bouvry@unicaen.fr

##################################################################
## Réglages métier (options)

# Feuille de temps
OSCAR_TIMESHEET_IMPORT_ENABLE=false

# Emails
OSCAR_MAILER_SUBJECT_PREFIX="[OSCAR DEMO]"

# Dépenses
OSCAR_SPENT_CLASS=Oscar\Connector\ConnectorSpentSifacOCI
OSCAR_SPENT_PARAMS_USERNAME=XXXXXXXX
OSCAR_SPENT_PARAMS_PASSWORD=XXXXXXX
OSCAR_SPENT_PARAMS_SID=F13
OSCAR_SPENT_PARAMS_PORT=1527
OSCAR_SPENT_PARAMS_HOSTNAME=host.domain.ext
OSCAR_SPENT_PARAMS_SPENT_QUERY="select  MEASURE AS pfi,  RLDNR as AB9, STUNR as idsync,  awref AS numSifac, vrefbn as numCommandeAff, vobelnr as numPiece, LIFNR as numFournisseur, KNBELNR as pieceRef, fikrs AS codeSociete, BLART AS codeServiceFait, FAREA AS codeDomaineFonct, sgtxt AS designation, BKTXT as texteFacture, wrttp as typeDocument, TRBTR as montant, fistl as centreDeProfit, fipex as compteBudgetaire, prctr AS centreFinancier, HKONT AS compteGeneral, budat as datePiece, bldat as dateComptable, gjahr as dateAnneeExercice, zhldt AS datePaiement,  PSOBT AS dateServiceFait from sapsr3.v_fmifi where measure = '%s' AND MANDT='430' AND BTART='0250'"

LDAP_HOST=ldap.unicaen.fr
LDAP_PORT=389
LDAP_USERNAME="Identifiant LDAP"
LDAP_PASSWORD="ModeDePa$$"
LDAP_BASEDN=dn
LDAP_BASEDN_REQUIRED=true
LDAP_ACCOUNT_FILTER_FORMAT=FORMAT

LDAP_DN_UTILISATEURS_BASE_DN=ou=people,dc=unicaen,dc=fr
LDAP_DN_UTILISATEURS_DESACTIVES_BASE_DN=ou=deactivated,dc=unicaen,dc=fr
LDAP_DN_GROUPS_BASE_DN=ou=groups,dc=unicaen,dc=fr
LDAP_DN_STRUCTURES_BASE_DN=ou=structures,dc=unicaen,dc=fr

LDAP_FILTERS_LOGIN_FILTER=supannAliasLogin=%s
##################################################################
## Réglages avancès (technique)

# Niveau de logs -------------------------------------------------
# 100 (Debug) : Massive log, use in Developpement
# 200 (Info) : Preprod, surveillance d'un problème en prod
# 300 (Warning) : Prod
# 400 (Error)
# 500 (Critical)
# 600 (Emergency)
OSCAR_LOG_LEVEL=300

# Gearman --------------------------------------------------------
OSCAR_CONTAINER_GEARMAN=oscar-gearman
OSCAR_CONTAINER_GEARMAN_PORT=oscar-dev-gearman

# Elasticsearch --------------------------------------------------
OSCAR_CONTAINER_ELASTICSEARCH=oscar-elasticsearch
OSCAR_CONTAINER_ELASTICSEARCH_PORT=9200
OSCAR_CONTAINER_ELASTICSEARCH_ADDR=${OSCAR_CONTAINER_ELASTICSEARCH}:${OSCAR_CONTAINER_ELASTICSEARCH_PORT}
