##############################################################################
# DOCKER
##############################################################################

APP_NAME=DOSCAR
APP_DESCRIPTION="Oscar Dockerisé Prod"
APP_VERSION="2.14.1"
APP_YEAR=2025
APP_CONTACT_MAIL="contact.oscar@your-domain.ext"

# ----------------------------------------------------------------------------
## PROXY ---------------------------------------------------------------------
# Exemple avec : PROXY=http://proxy.your-domain.fr:3128
# Exemple sans : PROXY=
HTTP_PROXY=
NO_PROXY=no_proxy=localhost,*.your-domain.fr,127.0.0.1,app-progresql,app-elasticsearch,app-gearman,app-apache,app-php,app-worker,app-vite

# ----------------------------------------------------------------------------
# MODE
ENV_MODE=prod

# ----------------------------------------------------------------------------
## POSTGRESQL ----------------------------------------------------------------
# Cas 1 : Postgresql dans un container
POSGRESQL=app-postgres
POSGRESQL_USER=oscar_dev_user
POSGRESQL_PASS=oscar_dev_pass
POSGRESQL_BASE=oscar_dev_db
POSGRESQL_PORT=5432
VOLUMES_POSTGRESQL_DATAS=/path/to/directory/oscar_data/postgresql

## Cas 2 : Postgresql dans un serveur
# (Commenter la partie POSTGRESQL dans compose.yml)
#POSGRESQL=psql.domain.ext
#POSGRESQL_USER=oscar_dev_user
#POSGRESQL_PASS=oscar_dev_pass
#POSGRESQL_BASE=oscar_dev_db
#POSGRESQL_PORT=5432

# ----------------------------------------------------------------------------
# Gearman --------------------------------------------------------------------
GEARMAN_HOST=app-gearman
GEARMAN_PORT=4730
GEARMAN_ADDR=${GEARMAN_HOST}:${GEARMAN_PORT}

# ----------------------------------------------------------------------------
# Elasticsearch --------------------------------------------------------------
ELASTICSEARCH_HOST=app-elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_ADDR=${ELASTICSEARCH_HOST}:${ELASTICSEARCH_PORT}

# ----------------------------------------------------------------------------
# PHP FPM  -------------------------------------------------------------------
PHP_HOST=app-php



##############################################################################
# 2. OSCAR
##############################################################################

# ----------------------------------------------------------------------------
# LDAP -----------------------------------------------------------------------
LADAP_ENABLED=true
LDAP_HOST=ldap.your-domain.fr
LDAP_PORT=389
LDAP_USERNAME="uid=oscar,ou=system,dc=your-domain,dc=fr"
LDAP_PASSWORD="TXAcao4rdCGA"
LDAP_BASEDN="ou=people,dc=your-domain,dc=fr"
LDAP_BASEDN_REQUIRED=true
LDAP_ACCOUNT_FILTER_FORMAT="(&(objectClass=posixAccount)(supannAliasLogin=%s))"
LDAP_DN_UTILISATEURS_BASE_DN="ou=people,dc=your-domain,dc=fr"
LDAP_DN_UTILISATEURS_DESACTIVES_BASE_DN="ou=deactivated,dc=your-domain,dc=fr"
LDAP_DN_GROUPS_BASE_DN="ou=groups,dc=your-domain,dc=fr"
LDAP_DN_STRUCTURES_BASE_DN="ou=structures,dc=your-domain,dc=fr"
LDAP_FILTERS_LOGIN_FILTER="supannAliasLogin=%s"

# ----------------------------------------------------------------------------
# CASS -----------------------------------------------------------------------
CAS_ENABLED=true
CAS_HOST="cas.your-domain.fr"
CAS_PORT=443
CAS_VERSION="2.0"
CAS_URI=""
CAS_DEBUG=false

# ----------------------------------------------------------------------------
# FICHIERS -------------------------------------------------------------------
VOLUMES_DOCUMENTS_ACTIVITY=/path/to/directory/oscar_data/documents/activity
VOLUMES_DOCUMENTS_PUBLIC=/path/to/directory/oscar_data/documents/public
VOLUMES_DOCUMENTS_REQUEST=/path/to/directory/oscar_data/documents/request
VOLUMES_DOCUMENTS_PCRU=/path/to/directory/oscar_data/documents/pcru

# ----------------------------------------------------------------------------
# GENERAL --------------------------------------------------------------------

## Email de/des administrateurs
# ex : jean.pierre@domain.fr,murielle@domain.fr
OSCAR_ADMIN_ADMINISTRATORS=oscar.admin@your-domain.fr

# ----------------------------------------------------------------------------
# FEUILLE de TEMPS -----------------------------------------------------------
OSCAR_TIMESHEET_IMPORT_ENABLE=false

# ----------------------------------------------------------------------------
# MAILS ----------------------------------------------------------------------
OSCAR_MAILER_SUBJECT_PREFIX="[OSCAR DEMO]"

# ----------------------------------------------------------------------------
# DEPENSES -------------------------------------------------------------------
OSCAR_SPENT_CLASS=Oscar\Connector\ConnectorSpentSifacOCI
OSCAR_SPENT_PARAMS_USERNAME=ucbn_oscar
OSCAR_SPENT_PARAMS_PASSWORD=XXXXXXXXXX
OSCAR_SPENT_PARAMS_SID=F13
OSCAR_SPENT_PARAMS_PORT=1527
OSCAR_SPENT_PARAMS_HOSTNAME=sifacf.your-domain.fr
OSCAR_SPENT_PARAMS_SPENT_QUERY="select  MEASURE AS pfi,  RLDNR as AB9, STUNR as idsync,  awref AS numSifac, vrefbn as numCommandeAff, vobelnr as numPiece, LIFNR as numFournisseur, KNBELNR as pieceRef, fikrs AS codeSociete, BLART AS codeServiceFait, FAREA AS codeDomaineFonct, sgtxt AS designation, BKTXT as texteFacture, wrttp as typeDocument, TRBTR as montant, fistl as centreDeProfit, fipex as compteBudgetaire, prctr AS centreFinancier, HKONT AS compteGeneral, budat as datePiece, bldat as dateComptable, gjahr as dateAnneeExercice, zhldt AS datePaiement,  PSOBT AS dateServiceFait from sapsr3.v_fmifi where measure = '%s' AND MANDT='430' AND BTART='0250'"


# ----------------------------------------------------------------------------
# TECHNIQUE ------------------------------------------------------------------
# Niveau de logs -------------------------------------------------
# 100 (Debug) : Massive log, use in Developpement
# 200 (Info) : Preprod, surveillance d'un problème en prod
# 300 (Warning) : Prod
# 400 (Error)
# 500 (Critical)
# 600 (Emergency)
OSCAR_LOG_LEVEL=200

