# Configuration
config/autoload/local.php
config/autoload/unicaen-app.local.php
config/autoload/unicaen-auth.local.php

# Connecteurs
/config/connectors/*.yml
!/config/connector/*.yml.dist

# Documentation
/doc/*.pdf
/doc/build

# Logs
/logs/*
!/logs/.gitkeep

# Data & Cache
data/*
!data/backup_oscar-empty.sql
!data/oscar-demo-lasted.sql
!data/connectors/*.dist

# Librairies
/vendor
node_modules

# IDE files
.idea

# System
.swd
