# Configuration
config/autoload/local.php
config/autoload/unicaen-app.local.php
config/autoload/unicaen-auth.local.php

# Logs
/logs/*
!/logs/.gitkeep

# Data & Cache
data/*
!data/backup_oscar-empty.sql



# Librairies
/vendor
node_modules

# IDE files
.idea
