# Configuration
config/autoload/local.php
config/autoload/unicaen-app.local.php
config/autoload/unicaen-auth.local.php

tmp
sandbox
debug
DEV.md

# Prototype
prototype/timesheet/*
!prototype/timesheet/test-exel.php
!prototype/timesheet/ods-base-test.xls

# Fichiers générés mais inutiles (POI)
public/js/oscar/dist/index.html

doc/*.html

# Connecteurs
/config/connectors/*.yml
!/config/connector/*.yml.dist
socket/config.json

# Documentation
/doc/*.pdf
/doc/build

# Logs
/logs/*
!/logs/.gitkeep

# custom
/public/custom/*
!/public/custom/.gitkeep

# Data & Cache
data/*
!data/timesheet_model.xls
!data/backup_oscar-empty.sql
!data/oscar-demo-lasted.sql
!data/documents/activity/.gitkeep
!data/documents/public/.gitkeep

# Librairies
/vendor
node_modules

# IDE files
.idea

# System
**/*.swd
**/*.swp
**/*~

# OSCAR
MAINTENANCE
Dockerfile_*
*#
