body {

}

$colorGreyM: #999;

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// General
body {
  background-color: rgba(210,210,210,1);
  background-blend-mode: lighten;
}
body:not(.privatize){
  #btn-toggle-private {
    .on {
      display: inline-block;
    }
  }
}

#btn-toggle-private {
  .on, .off {
    display: none;
  }
}

.privatize {
  .text-private {
    transition: .3s;
    filter: blur(8px) !important;
  }
  .person .text-private {
    filter: blur(3px) !important;
  }

  #btn-toggle-private {
    .off {
      display: inline-block;
    }
  }
}

.cartouche {
  &.person {

    .lastname {
      font-weight: 600;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.admin-bar {
  padding: .3em .3em;
  position: relative;
  left: -10px;
  transition: all .2s linear;
  text-align: right;
  //border-bottom: $colorGreyM solid thin;
  &:before {
    text-shadow: -1px 1px 1px rgba(0,0,0,.3); //, 1px -1px 1px white ;
    display: inline-block;
    padding: 0 .3em 0 0;
    font-family: 'fontello';
    content: '\e86e';
    color: #eee;
  }
  opacity: .4;
  filter: grayscale(.5);

  &:hover{
    left: 0;
    filter: grayscale(0);
    opacity: 1;
  }
}

