<phpunit bootstrap="Bootstrap.php">
  <testsuites>
    <testsuite name="Connector">
      <directory>Oscar/Connector</directory>
    </testsuite>
    <testsuite name="Factory">
      <directory>Oscar/Factory</directory>
    </testsuite>
    <testsuite name="Import">
      <directory>Oscar/Import</directory>
    </testsuite>
    <testsuite name="Utils">
      <directory>Oscar/Utils</directory>
    </testsuite>
  </testsuites>
</phpunit>
