.datepicker-selector {
  position: absolute;
  width: 16em;
  z-index: 1000;
  background: white;
  font-size: .9em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  border: thin solid rgba(0, 0, 0, 0.5); }
  .datepicker-selector .datepicker-wrapper {
    position: relative;
    z-index: 900;
    background: white;
    padding: 4px; }
  .datepicker-selector:before {
    content: '';
    position: absolute;
    background: white;
    border: thin solid rgba(0, 0, 0, 0.5);
    width: 16px;
    left: 16px;
    height: 16px;
    transform: rotate(45deg);
    top: -8px;
    z-index: 800; }
  .datepicker-selector header nav {
    display: flex; }
    .datepicker-selector header nav > span {
      flex: 0;
      cursor: pointer; }
      .datepicker-selector header nav > span:hover {
        background: rgba(255, 0, 0, 0.5); }
    .datepicker-selector header nav > * {
      flex: 1; }
    .datepicker-selector header nav .heading {
      white-space: nowrap;
      text-align: center; }
      .datepicker-selector header nav .heading .currentMonth, .datepicker-selector header nav .heading .currentYear {
        cursor: pointer; }
        .datepicker-selector header nav .heading .currentMonth:hover, .datepicker-selector header nav .heading .currentYear:hover {
          background: rgba(255, 0, 0, 0.5); }
  .datepicker-selector .day-labels {
    display: flex;
    align-items: stretch; }
    .datepicker-selector .day-labels .day-label {
      color: rgba(0, 0, 0, 0.5);
      flex: 1; }
  .datepicker-selector .months, .datepicker-selector .years, .datepicker-selector .week {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer; }
    .datepicker-selector .months .month, .datepicker-selector .months .year, .datepicker-selector .months .week-day, .datepicker-selector .years .month, .datepicker-selector .years .year, .datepicker-selector .years .week-day, .datepicker-selector .week .month, .datepicker-selector .week .year, .datepicker-selector .week .week-day {
      padding: .3em;
      flex: 1;
      text-align: center;
      border-radius: 4px; }
      .datepicker-selector .months .month:hover, .datepicker-selector .months .year:hover, .datepicker-selector .months .week-day:hover, .datepicker-selector .years .month:hover, .datepicker-selector .years .year:hover, .datepicker-selector .years .week-day:hover, .datepicker-selector .week .month:hover, .datepicker-selector .week .year:hover, .datepicker-selector .week .week-day:hover {
        background: rgba(255, 0, 0, 0.9);
        color: white; }
      .datepicker-selector .months .month.active, .datepicker-selector .months .year.active, .datepicker-selector .months .week-day.active, .datepicker-selector .years .month.active, .datepicker-selector .years .year.active, .datepicker-selector .years .week-day.active, .datepicker-selector .week .month.active, .datepicker-selector .week .year.active, .datepicker-selector .week .week-day.active {
        background: rgba(255, 0, 0, 0.4) !important;
        text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
        color: white; }
      .datepicker-selector .months .month.disabled, .datepicker-selector .months .year.disabled, .datepicker-selector .months .week-day.disabled, .datepicker-selector .years .month.disabled, .datepicker-selector .years .year.disabled, .datepicker-selector .years .week-day.disabled, .datepicker-selector .week .month.disabled, .datepicker-selector .week .year.disabled, .datepicker-selector .week .week-day.disabled {
        background: white !important;
        color: rgba(0, 0, 0, 0.2);
        pointer-events: none; }
  .datepicker-selector .week {
    display: flex;
    align-items: stretch;
    line-height: 1em; }
    .datepicker-selector .week .week-label {
      font-size: .8em;
      flex: 1;
      color: rgba(0, 0, 0, 0.5); }
    .datepicker-selector .week .week-day {
      text-align: center;
      flex: 1;
      padding: 4px;
      cursor: pointer; }
      .datepicker-selector .week .week-day:hover {
        background-color: rgba(255, 0, 0, 0.75) !important;
        color: white; }
    .datepicker-selector .week .week-day:nth-child(odd) {
      background: rgba(0, 0, 0, 0.05); }

/*# sourceMappingURL=datepicker.css.map */
