/* ! Oscar © 2015, Université de Caen, Basse-Normandie
 * Stéphane Bouvry <stephane.bouvry@unicaen.fr>
 */

////////////////////////////////////////////////////////////////////////////////
// Configuration
////////////////////////////////////////////////////////////////////////////////

$brand-primary: #455790 !default;
$brand-complementary: #27556C !default;
$bg-image: 'bg.jpg' !default;

//rgb(255 - red($brand-primary), 255 - green($brand-primary), 255 - blue($brand-primary));
$brand-secondary1: #6a5999;
$brand-secondary2: #ff6600;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
$brand-error: #cb0b05 !default;

$colorGreyUltraLight: #CCC;
$colorGreyLight: #AAA;

$font-size-smallest: 9px;
$font-size-smaller: 10px;
$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-big: 16px;
$font-size-bigger: 18px;
$font-size-biggest: 20px;

$grey-ultra-light: #CCC;
$grid-float-breakpoint: 1024px;
$colorGreyMedium: #999;
$colorGreyDark: #555;
$colorGreyBlack: #222;



// Update 2020-11-04
@import "_common.scss";

.compact-state {
  display: inline-block;
  background: #777777;
  color: #ededed;
  margin: 0;
  padding: 0 .3em;
  line-height: 1.2em;
  border-radius: 4px;
  text-shadow: -1px 1px 0 rgba(0,0,0,.3);
  position: relative;
  * {
    display: inline-block;
  }
  .info-text {
    /*display: none;*/
    position: absolute;
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-radius: 0 4px 4px 0;
  }

  // EVENTS
  &:hover {
    .info-text {
      display: inline-block;
      width: auto;
      padding: 0 .3em 0 0;
    }
  }
}

.highdelay-line {
  display: flex;
  background: rgba(0,0,0,.2);

  &.error .compact-state {
    background-color: $brand-error;
    .info-text {
      background-color: $brand-error;
    }
  }

  &.danger .compact-state {
    background-color: $brand-danger;
    .info-text {
      background-color: $brand-danger;
    }
  }

  &.secondary2 .compact-state {
    background-color: $brand-secondary2;
    .info-text {
      background-color: $brand-secondary2;
    }
  }

  .state-info {
    flex: 0 0 42px;
  }
}
.highdelay-line > * {
  flex: 1 1;
}
.highdelay-line:nth-child(odd) {
  background: rgba(0,0,0,.1);
}

.highdelay .activity {
  border: solid thin #999999;
}


.danger-area, .info-area {
  border-radius: 4px;
  background: $brand-info;
  color: white;
  padding: .25em .5em;
  margin: .3em 0;
  font-size: .8em;
  text-shadow: -1px 1px 1px rgba(0,0,0,.3);

  a {
    color: white;
    font-weight: 700;
    text-decoration: underline;
  }
}
.danger-area {
  background: $brand-danger;
}


.highdelay .card .card-title {
  .profile {
    flex: 0 0 50px;
  }
}