/* ! Oscar © 2015, Université de Caen, Basse-Normandie
 * Stéphane Bouvry <stephane.bouvry@unicaen.fr>
 */

////////////////////////////////////////////////////////////////////////////////
// Configuration
////////////////////////////////////////////////////////////////////////////////

$brand-primary: #455790 !default;
$brand-complementary: #27556C !default;
$bg-image: 'bg.jpg' !default;

//rgb(255 - red($brand-primary), 255 - green($brand-primary), 255 - blue($brand-primary));
$brand-secondary1: #6a5999;
$brand-secondary2: #ff6600;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
$brand-error: #cb0b05 !default;

$colorGreyUltraLight: #CCC;
$colorGreyLight: #AAA;

$font-size-smallest: 9px;
$font-size-smaller: 10px;
$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-big: 16px;
$font-size-bigger: 18px;
$font-size-biggest: 20px;

$grey-ultra-light: #CCC;
$grid-float-breakpoint: 1024px;
$colorGreyMedium: #999;
$colorGreyDark: #555;
$colorGreyBlack: #222;


// Update 2020-11-04
@import "_common.scss";