////////////////////////////////////////////////////////////////////////////////
// OSCAR, Université de Caen, 2015

$fontSize: 16px;
$colorDark: #333;




// Toto
body {
  background-color: #dddddd;
  font-size: $fontSize;
  color: $colorDark;
  font-size: 48px;
}