access_strategy: 'Oscar\Connector\Access\PersonConnectorAccessLdap'
person_ldap_filters:
  - 'eduPersonAffiliation=researcher'
  - 'eduPersonAffiliation=emeritus'
  - 'supannCodePopulation={SUPANN}AGA*'
  - 'eduPersonAffiliation=staff'
mapping_role_person :
  - "{SUPANN}S312" : "Directeur de laboratoire"