# Emplacement du service REST fournissant la liste des personnes
url_persons: 'https://oscar.unicaen.fr/api/persons'

# Emplacement du service REST fournissant les données pour une personne
# Noter la présente du '%s' que Oscar remplacera par l'UID utilisé dans
# le service REST.
url_person: 'https://oscar.unicaen.fr/api/persons/%s'

### ACCèS avec CERTIFICAT
# Accès spécifique
# access_strategy:  Oscar\Connector\Access\ConnectorAccessCurlCertificat
# Clef certificat .pem
# file_certificat_ssl_key: config/connectors/key.pem
# Client certificat .pem
# file_certificat_cert: config/connectors/client.pem
# Pass certificat .pem
# file_certificat_pass: VOTREPASSCERTIFICAT