##############################################################################
# DOCKER
##############################################################################

# ----------------------------------------------------------------------------
# GENERAL --------------------------------------------------------------------
# Information générales
APP_NAME=DevOSCAR
APP_DESCRIPTION="Oscar Dockerisé Démo"
APP_VERSION="2.14.1"
APP_YEAR=2025
APP_CONTACT_MAIL="stephane.bouvry@unicaen.fr"
APP_URL=http://localhost.unicaen.fr

## Email de/des administrateurs (utilisées pour le test d'envoi de mail)
APP_ADMINISTRATORS=stephane.bouvry@unicaen.fr

# ----------------------------------------------------------------------------
## PROXY ---------------------------------------------------------------------
# Exemple avec : PROXY=http://proxy.unicaen.fr:3128
# Exemple sans : PROXY=
HTTP_PROXY=
NO_PROXY=no_proxy=localhost,*.unicaen.fr,127.0.0.1,app-progresql,app-elasticsearch,app-gearman,app-apache,app-php,app-worker,app-vite

# ----------------------------------------------------------------------------
# MAILS ----------------------------------------------------------------------
MAILER_TYPE="smtp"
# -- Host
#MAILER_CMD="/usr/sbin/sendmail -bs"
MAILER_CMD=
MAILER_HOST="app-mailhog"
MAILER_PORT=1025
MAILER_USERNAME=""
MAILER_PASSWORD=""
MAILER_SECURITY=

# -- Mail (Habillage)
MAILER_SUBJECT_PREFIX="[OSCAR DEMO]"
MAILER_FROM_LABEL="Oscar Mail"
MAILER_FROM_EMAIL="oscar.mail@unicaen.fr"
MAILER_SEND_FALSE_EXCEPTIONS=
MAILER_COPY=""
MAILER_SEND=true


# ----------------------------------------------------------------------------
# FICHIERS -------------------------------------------------------------------
# Dossier racine pour les volumes
VOLUMES_ROOT=./demo/default

# Stoquage des fichiers
VOLUMES_DOCUMENTS=${VOLUMES_ROOT}/documents
VOLUMES_DOCUMENTS_ACTIVITY=${VOLUMES_DOCUMENTS}/activity
VOLUMES_DOCUMENTS_PUBLIC=${VOLUMES_DOCUMENTS}/public
VOLUMES_DOCUMENTS_REQUEST=${VOLUMES_DOCUMENTS}/request
VOLUMES_DOCUMENTS_PCRU=${VOLUMES_DOCUMENTS}/pcru
# Fichier de cache Proxy Doctrine
VOLUMES_CACHE_DOCTRINE=${VOLUMES_ROOT}/DoctrineORMModule/Proxy
VOLUMES_CONFIG=${VOLUMES_ROOT}/config
VOLUMES_LOG=${VOLUMES_ROOT}/log
VOLUMES_TMP=${VOLUMES_ROOT}/tmp
VOLUMES_POSTGRESQL_DATAS=${VOLUMES_ROOT}/postgresql

# ----------------------------------------------------------------------------
# Templates
VOLUMES_TEMPLATES=${VOLUMES_ROOT}/templates
# Corps des mails
VOLUMES_TEMPLATE_MAIL=${VOLUMES_TEMPLATES}/mail.phtml
# Feuille de temps (Mois/Personne)
VOLUMES_TIMESHEET_PERSON_MONTH=${VOLUMES_TEMPLATES}/timesheet_person_month.default.html.php

VOLUMES_TIMESHEET_PERIOD=${VOLUMES_TEMPLATES}/timesheet_period.default.html.php
VOLUMES_TIMESHEET_ACTIVITY_SYNTHESIS=${VOLUMES_TEMPLATES}/timesheet_period.default.html.php
VOLUMES_TIMESHEET_SPENT_ACTIVITY=${VOLUMES_TEMPLATES}/estimated_spent_activity_.default.html.php

# ----------------------------------------------------------------------------
## POSTGRESQL ----------------------------------------------------------------
# Cas 1 : Postgresql dans un container
POSGRESQL=app-postgres
POSGRESQL_USER=oscar_dev_user
POSGRESQL_PASS=oscar_dev_pass
POSGRESQL_BASE=oscar_dev_db
POSGRESQL_PORT=5432

## Cas 2 : Postgresql dans un serveur
# (Commenter la partie POSTGRESQL dans compose.yml)
#POSGRESQL=psql.domain.ext
#POSGRESQL_USER=oscar_dev_user
#POSGRESQL_PASS=oscar_dev_pass
#POSGRESQL_BASE=oscar_dev_db
#POSGRESQL_PORT=5432

# ----------------------------------------------------------------------------
# LDAP -----------------------------------------------------------------------
LADAP_ENABLED=true
LDAP_HOST=ldap.unicaen.fr
LDAP_PORT=389
LDAP_USERNAME="uid=oscar,ou=system,dc=unicaen,dc=fr"
LDAP_PASSWORD="XXXXX"
LDAP_BASEDN="ou=people,dc=unicaen,dc=fr"
LDAP_BASEDN_REQUIRED=true
LDAP_ACCOUNT_FILTER_FORMAT="(&(objectClass=posixAccount)(supannAliasLogin=%s))"
LDAP_DN_UTILISATEURS_BASE_DN="ou=people,dc=unicaen,dc=fr"
LDAP_DN_UTILISATEURS_DESACTIVES_BASE_DN="ou=deactivated,dc=unicaen,dc=fr"
LDAP_DN_GROUPS_BASE_DN="ou=groups,dc=unicaen,dc=fr"
LDAP_DN_STRUCTURES_BASE_DN="ou=structures,dc=unicaen,dc=fr"
LDAP_FILTERS_LOGIN_FILTER="supannAliasLogin=%s"

# ----------------------------------------------------------------------------
# CAS ------------------------------------------------------------------------
CAS_ENABLED=true
CAS_HOST="cas.unicaen.fr"
CAS_PORT=443
CAS_VERSION="2.0"
CAS_URI=""
CAS_DEBUG=false

# ----------------------------------------------------------------------------
# DEPENSES -------------------------------------------------------------------
OSCAR_SPENT_CLASS=Oscar\Connector\ConnectorSpentSifacOCI
OSCAR_SPENT_PARAMS_USERNAME=ucbn_oscar
OSCAR_SPENT_PARAMS_PASSWORD=XXXXX
OSCAR_SPENT_PARAMS_SID=F13
OSCAR_SPENT_PARAMS_PORT=1527
OSCAR_SPENT_PARAMS_HOSTNAME=sifacf.unicaen.fr
OSCAR_SPENT_PARAMS_SPENT_QUERY="select  MEASURE AS pfi,  RLDNR as AB9, STUNR as idsync,  awref AS numSifac, vrefbn as numCommandeAff, vobelnr as numPiece, LIFNR as numFournisseur, KNBELNR as pieceRef, fikrs AS codeSociete, BLART AS codeServiceFait, FAREA AS codeDomaineFonct, sgtxt AS designation, BKTXT as texteFacture, wrttp as typeDocument, TRBTR as montant, fistl as centreDeProfit, fipex as compteBudgetaire, prctr AS centreFinancier, HKONT AS compteGeneral, budat as datePiece, bldat as dateComptable, gjahr as dateAnneeExercice, zhldt AS datePaiement,  PSOBT AS dateServiceFait from sapsr3.v_fmifi where measure = '%s' AND MANDT='430' AND BTART='0250'"

# ----------------------------------------------------------------------------
# FEUILLE de TEMPS -----------------------------------------------------------
OSCAR_TIMESHEET_IMPORT_ENABLE=true


# ----------------------------------------------------------------------------
# TECHNIQUE ------------------------------------------------------------------
# Niveau de logs
# 100 (Debug) : Massive log, use in Developpement
# 200 (Info) : Preprod, surveillance d'un problème en prod
# 300 (Warning) : Prod
# 400 (Error)
# 500 (Critical)
# 600 (Emergency)
OSCAR_LOG_LEVEL=100
ENV_MODE=prod


# PHP FPM  -------------------------------------------------------------------
PHP_HOST=app-php



# DEVELOPPEMENT=1 pour la version developpement
DEVELOPPEMENT=1

# VITE -----------------------------------------------------------------------
VITE_MODE=dev
VITE_SRC="/var/application/ui"
VITE_DEST="/var/application/public/js/oscar/vite/dist"
VITE_BASE_URL_DEV="http://localhost:5173"
VITE_BASE_URL_PROD="/js/oscar/vite/dist"

# Gearman --------------------------------------------------------------------
GEARMAN_HOST=app-gearman
GEARMAN_PORT=4730
GEARMAN_ADDR=${GEARMAN_HOST}:${GEARMAN_PORT}

# Elasticsearch --------------------------------------------------------------
ELASTICSEARCH_HOST=app-elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_ADDR=${ELASTICSEARCH_HOST}:${ELASTICSEARCH_PORT}
ELASTICSEARCH_MEMORY=1g

