[Unit]
Description=OSCAR Worker
After=gearmand.service

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/php  /var/OscarApp/oscar/bin/oscar-worker.php

### > MODIFIER USER
User=USER

