body {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

tr { border: thin solid #adb6bd}

td {}

thead h1 {
    font-weight: normal;
}

thead th {
    text-align: center;
}


.dateHeading th:nth-child(odd) {
    background-color: #c0e1f1;
}
.dateHeading th:nth-child(even) {
    background-color: #cde7f1;
}
.dateHeading th {
    font-weight: bold;
    font-size: .8em;
}

.subgroup {
    font-size: 9px;
}
.subgroup .label {
    font-weight: normal;
}
th {
    /*border: thin solid #adb6bd;*/
}
thead td {
    /*background: #e3e8e6;*/
    border-bottom: dotted 1px #333;
}
.value {
    text-align: right;
    font-weight: 900;
    font-size: 12px;
}
thead td.valueLabel, tfoot td.valueLabel {
    text-align: right;
}

td, th {
    text-align: right;
    padding: 1px;
    border-top: thin solid rgba(255,255,255,.7);
    border-right: thin solid rgba(255,255,255,.3)
}

.feed {
    font-weight: bold;
}
.empty {
    font-size: 10px;
}
.lock {
    background: #fff !important;
}
.soustotal {
    font-weight: bold;
    font-size: 12px;
}
.total {
    font-weight: 700;
    font-size: 14px;
}

small {
    font-weight: 100;
    display: block;
}
th {
    vertical-align: center;
    font-weight: normal;
}
.main {
    background: #97c6d6;
}
.research {
    background: #8bd1dd;
}
.education {
    background: #a6e3c7;
}
.abs {
    background: #d6e4b2;
}
.other {
    background: #d7b5e5;
}
.duration {
    text-align: right;
}

.labelvalue {
    font-size: 10px;
}


.research.ce {
    background: #67b4c2;
}
.research.main {
    background: #93d8e4;
}
.research.other {
    background: #b6dbe1;
}
.research.totalcategory {
    background: #8bd1dd;
}

tr {
    border: none;
}
.table tr > th {
    border: none;
}
.table > thead > tr th {
    vertical-align: center;
}

/*** Feuille de temps de la personne **/
.group > th { font-weight: bold; text-align: left }
.group th {
    font-weight: 800;
    font-size: 1em;
    margin-top: 1em;
    color: rgba(0,0,0,.8);
}


.subgroup > th { font-weight: bold; text-align: left }
.subgroup th { font-weight: normal }