PARAM_BOOLEAN_TRUE1=true
PARAM_BOOLEAN_FALSE1=false
PARAM_BOOLEAN_TRUE2=1
PARAM_BOOLEAN_FALSE2=0

PARAM_STRING_1=Chaîne
PARAM_STRING_2="Chaîne avec des guillemets"
PARAM_STRING_3="Chaîne avec des \"guillemets\""
PARAM_STRING_4='Chaîne avec des guillemets'
