<?php

// Par défaut, Oscar n'utilise pas le serveur Websocker
$socket = false;

// Si le fichier de configuration est présent, on charge la configuration
if( file_exists($pathSocketConfig = __DIR__.'/../../socket/config.json') ){
    $socketConf = json_decode(file_get_contents($pathSocketConfig), true);
    $socket = $socketConf['socket'];
}

return array(
    'view_manager' => array(
        'display_not_found_reason' => getenv('APPLICATION_ENV') == 'development',
        'display_exceptions'       => getenv('APPLICATION_ENV') == 'development',
    ),

    // Oscar
    'oscar' => [
        // Oscar Live
        'socket' => $socket,
        
        // gearman
        'gearman-job-server-host' => 'localhost',



        ////////////////////////////////////////////////////////////////////////
        // ! EXPERIMENTAL !
        'generated-documents' => [
            /****
            'activity' => [
                'sample' => [
                    'label' => 'Exemple de document',
                    'template' => __DIR__ . '/../../data/generated-documents/activity/sample.docx',
                    'type' => 'Word'
                ],
                'bordereau' => [
                    'label' => 'Exemple de bordereau',
                    'template' => __DIR__ . '/../../data/generated-documents/activity/bordereau.docx',
                    'type' => 'Word'
                ]
            ]
            /****/
        ],

        // Répartition horaire
        'declarationsDurations' => [

            'dayLength'     => [
                'value' => 7.5,
                'max' => 10.0,
                'min' => 5.0,
                'days' => [
                    '1' => 8.0,
                    '2' => 8.0,
                    '3' => 8.0,
                    '4' => 8.0,
                    '5' => 8.0,
                    '6' => 0.0,
                    '7' => 0.0,
                ]
            ],

            'weekLength'     => [
                'value' => 37.0,
                'max' => 44.0,
                'min' => 20.0,
                'userChange' => false
            ],

            'monthLength' => [
                'value' => 144.0,
                'max'   => 184.0,
                'min' => 80.0,
                'userChange' => false
            ],

            'weekExceptions' => [
                '3'         => 3.0,
            ],
        ],

        // Exemples de modèle horaire
        'scheduleModeles' => [
//            'full35' => [
//                'label' => 'Plein temps (35 heures)',
//                'week' => 35.0,
//                'days' => [
//                    1 => 7.0,
//                    2 => 7.0,
//                    3 => 7.0,
//                    4 => 7.0,
//                    5 => 7.0
//                ]
//            ],
//            'full37' => [
//                'label' => 'Plein temps (37 heures)',
//                'week' => 37.0,
//                'days' => [
//                    1 => 7.5,
//                    2 => 7.5,
//                    3 => 7.5,
//                    4 => 7.5,
//                    5 => 7.0
//                ]
//            ],
//
//            'half35' => [
//                'label' => 'Mi-temps',
//                'week' => 17.5,
//                'days' => [
//                    1 => 3.5,
//                    2 => 3.5,
//                    3 => 3.5,
//                    4 => 3.5,
//                    5 => 3.5
//                ]
//            ],
//
//            'parttime' => [
//                'label' => 'Temps patiel',
//                'week' => 30.0,
//                'days' => [
//                    1 => 6.0,
//                    2 => 6.0,
//                    3 => 6.0,
//                    4 => 6.0,
//                    5 => 6.0
//                ]
//            ],
        ],

        // Désactive / Active l'option d'importation des calendriers
        'importEnable' => false,


        ////////////////////////////////////////////////////////////////////////
        //
        // PATHS  (Optionnel)
        //
        // Emplacements utilisés par oscar pour stoquer des fichiers.
        // Ces emplacements doivent être accessibles et ouvert en écriture.
        //
        ////////////////////////////////////////////////////////////////////////
        'paths' => [
            // Emplacement où sont stoqués les documents Oscar
            'document_oscar' => realpath(__DIR__) . '/../../data/documents/activity/',

            // Emplacement où sont stoqués les documents administratifs Oscar
            'document_admin_oscar' => realpath(__DIR__) . '/../../data/documents/public/',

            // Modèle de feuille de temps
            'timesheet_modele' => realpath(__DIR__.'/../../data/timesheet_model.xls'),
        ],

         // Système de recherche
        'strategy' => [
            'activity' => [
                'search_engine' => [
                    // Elasticsearch
                    'class' => \Oscar\Strategy\Search\ActivityElasticSearch::class,
                    'params' => [['localhost:9200']]
                ]
            ],
            'person' => [
                'search_engine' => [
                    // Elasticsearch
                    'class' => \Oscar\Strategy\Search\PersonElasticSearch::class,
                    'params' => [['localhost:9200']]
                ]
            ],
            'organization' => [
                'search_engine' => [
                    // Elasticsearch
                    'class' => \Oscar\Strategy\Search\OrganizationElasticSearch::class,
                    'params' => [['localhost:9200']]
                ]
            ]
        ],

        ////////////////////////////////////////////////////////////////////////
        //
        // CONNECTORS (Optionnel)
        //
        // Les connecteurs sont les points d'entrées pour les données utilisées
        // dans Oscar.
        // Pour le moment ne sont gérés que :
        // - Person (participants aux activités de recherche)
        // - Organization (Structures/Organisations impliquées dans les activités)
        //
        ////////////////////////////////////////////////////////////////////////
        'connectors' => [
            // Connection au tiers d'où seront obtenu les structures
            'organization' => [
                /****
               'rest' => [
                  'class'     => \Oscar\Connector\ConnectorOrganizationREST::class,
                  'params'    => realpath(__DIR__) . '/../connectors/organization_rest.yml',
                  'editable'  => false
               ]
               /****/
            ],
            'person' => [
               /****
               'rest' => [
                  'class'     => \Oscar\Connector\ConnectorPersonREST::class,
                  'params'    => realpath(__DIR__) . '/../connectors/person_rest.yml',
                  'editable'  => false
               ]
               /****/
            ],

            /***************************************/
            /***** CONNECTOR SIFAC (Dépenses) ******/
            /***************************************
            'spent' => [
                'sifac' => [
                    'class'     => \Oscar\Connector\ConnectorSpentSifacOCI::class,
                    'params'    => [
                        'username'  => 'sifac_user',
                        'password'  => 'sifac_password',
                        'SID'  => 'F13',
                        'port'      => 1527,
                        'hostname'  =>'sifac.domain.ext',
                        'spent_query' => \Oscar\Connector\ConnectorSpentSifacOCI::SPENT_QUERY
                    ]
                ]
            ]
            /**************************************/
        ],

        /*** Notifications ***/
        'notifications' => [
            // L'utilisateur peut configurer la fréquence des notifications
            'override' => false,

            // Envoi automatique
            'fixed' => ['Mer8', 'Lun20'] // ex: IMPOSE une notification chaque mercredis à 8 heure et Lundis à 20 heures
        ],

        /**********************************/
        /*** Qualification des dépenses ***/

        // Plan comptable général par défaut (standard)
        // Utilisé pour initialiser le plan comptable (modifiable ensuite
        // vie l'interface d'administration)
        'spenttypesource' => dirname(__DIR__).'/../install/plan-comptable.csv',

        // Masses
        'spenttypeannexes' => [
            "F" => "Fonctionnement",
            "I" => "Investissement",
            "P" => "Personnel"
        ],
        /**********************************/


        /*** Système d'envoi des mails ***/
        // Utilisé pour la génération des URLs dans les mails en ligne de commande
        'urlAbsolute' => 'http://localhost:8080',

        'mailer' => [
            /**** TRANSPORT (smtp)
            'transport' => [
                'type' => 'smtp',
                'host' => 'smtp.domain.tld',
                'port' => 465,
                'username' => 'smithagent',
                'password' => '@m4S!n9 P4$VV0rd',
                'security' => 'ssl',
            ],
            /****/

            /**** TRANSPORT (sendmail)
            'transport' => [
                'type' => 'sendmail',
                'cmd' => '/usr/sbin/sendmail -bs',
            ],
            /****

            /**** TRANSPORT (exim)
            'transport' => [
                'type' => 'sendmail',
                'cmd' => '/usr/sbin/exim -bs',
            ],
            /****/

            /**** TRANSPORT (file)
            'transport' => [
                'type' => 'file',
                'path' => realpath(__DIR__.'/../../data/mails'),
            ],
            /****/

            // Expéditeur
            'from' => [ 'oscar-bot@unicaen.fr' => 'Oscar Bot'],

            // Envoi d'une copy (Non effectif)
            'copy' => ['stephane.bouvry@unicaen.fr'],

            // Envoi activé
            'send' => true,
            'send_false_exception' => [],

            // Préfixe ajouté dans les sujets
            'subjectPrefix' => '[OSCAR DEV] ',

            // Emplacement du fichier de layout pour les mails
            'template' => realpath(__DIR__.'/../../module/Oscar/view/mail.phtml'),

            // Mails utilisé pour les tests / rapport
            'administrators' => ['stephane.bouvry@unicaen.fr', 'jacksay14@gmail.com']
        ]
    ],

    // Accès BDD
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                //////////////////////////////////////////////////////// DRIVERS
                // MySQL
                //'driverClass' => '\Doctrine\DBAL\Driver\PDOMySql\Driver',
                // Postgresql
                'driverClass' => '\Doctrine\DBAL\Driver\PDOPgSql\Driver',
                ////////////////////////////////////////////////////////////////

                'doctrine_type_mappings' => array(
                    'enum' => 'string'
                ),

                ////////////////////////////////////////////////////// CONNEXION
                // Exemple
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '5432',
                    'user'     => 'oscar',
                    'password' => 'azerty',
                    'dbname'   => 'oscar_dev',
                    'charset'  => 'utf8'
                ),
            ),
        ),
    ),
);
