<?php

// Par défaut, Oscar n'utilise pas le serveur Websocker
$socket = false;

// Si le fichier de configuration est présent, on charge la configuration
if( file_exists($pathSocketConfig = __DIR__.'/../../socket/config.json') ){
    $socketConf = json_decode(file_get_contents($pathSocketConfig), true);
    $socket = $socketConf['socket'];
}

return array(
    'view_manager' => array(
        'display_not_found_reason' => getenv('APPLICATION_ENV') == 'development',
        'display_exceptions'       => getenv('APPLICATION_ENV') == 'development',
    ),

    // Oscar
    'oscar' => [
        // Oscar Live
        'socket' => $socket,

        ////////////////////////////////////////////////////////////////////////
        // ! EXPERIMENTAL !
        'generated-documents' => [
            /****
            'activity' => [
                'sample' => [
                    'label' => 'Exemple de document',
                    'template' => __DIR__ . '/../../data/generated-documents/activity/sample.docx',
                    'type' => 'Word'
                ],
                'bordereau' => [
                    'label' => 'Exemple de bordereau',
                    'template' => __DIR__ . '/../../data/generated-documents/activity/bordereau.docx',
                    'type' => 'Word'
                ]
            ]
            /****/
        ],


        ////////////////////////////////////////////////////////////////////////
        //
        // PATHS  (Optionnel)
        //
        // Emplacements utilisés par oscar pour stoquer des fichiers.
        // Ces emplacements doivent être accessibles et ouvert en écriture.
        //
        ////////////////////////////////////////////////////////////////////////
        'paths' => [
            // Emplacement où sont stoqués les documents Oscar
            'document_oscar' => realpath(__DIR__) . '/../../data/documents/oscar/',

            // Emplacement où sont stoqués les documents administratifs Oscar
            'document_admin_oscar' => realpath(__DIR__) . '/../../data/documents/administratifs/',

            // Modèle de feuille de temps
            'timesheet_modele' => realpath(__DIR__.'/../../data/timesheet_model.xls'),
        ],

        // Système de recherche
        'strategy' => [
            'activity' => [
                'search_engine' => [
                    // PHP Lucene
//                    'class' => \Oscar\Strategy\Search\ActivityZendLucene::class,
//                    'params' => [realpath(__DIR__) . '/../../data/luceneindex']

                    // Elasticsearch
                    'class' => \Oscar\Strategy\Search\ActivityElasticSearch::class,
                    'params' => [['127.0.0.1:9200']]
                ]
            ]
        ],

        ////////////////////////////////////////////////////////////////////////
        //
        // CONNECTORS (Optionnel)
        //
        // Les connecteurs sont les points d'entrées pour les données utilisées
        // dans Oscar.
        // Pour le moment ne sont gérés que :
        // - Person (participants aux activités de recherche)
        // - Organization (Structures/Organisations impliquées dans les activités)
        //
        ////////////////////////////////////////////////////////////////////////
        'connectors' => [
            // Connection au tiers d'où seront obtenu les structures
            'organization' => [
                /****
               'rest' => [
                  'class'     => \Oscar\Connector\ConnectorOrganizationREST::class,
                  'params'    => realpath(__DIR__) . '/../connectors/organization_rest.yml',
                  'editable'  => false
               ]
            ],
            'person' => [
               'rest' => [
                  'class'     => \Oscar\Connector\ConnectorPersonREST::class,
                  'params'    => realpath(__DIR__) . '/../connectors/person_rest.yml',
                  'editable'  => false
               ]
            ]
        ],
        /*** Notifications ***/
        'notifications' => [

            // Envoi automatique
            'fixed' => ['Mer8', 'Lun20'] // ex: IMPOSE une notification chaque mercredis à 8 heure et Lundis à 20 heures
        ],


        /*** Système d'envoi des mails ***/
        // Utilisé pour la génération des URLs dans les mails en ligne de commande
        'urlAbsolute' => 'http://localhost:8080',

        'mailer' => [
            /**** TRANSPORT (smtp)
            'transport' => [
                'type' => 'smtp',
                'host' => 'smtp.domain.tld',
                'port' => 465,
                'username' => 'smithagent',
                'password' => '@m4S!n9 P4$VV0rd',
                'security' => 'ssl',
            ],
            /****/

            /**** TRANSPORT (sendmail)
            'transport' => [
                'type' => 'sendmail',
                'cmd' => '/usr/sbin/sendmail -bs',
            ],
            /****/

            /**** TRANSPORT (file)
            'transport' => [
                'type' => 'file',
                'path' => realpath(__DIR__.'/../../data/mails'),
            ],
            /****/

            // Expéditeur
            'from' => [ 'oscar-bot@unicaen.fr' => 'Oscar Bot'],

            // Envoi d'une copy (Non effectif)
            'copy' => ['stephane.bouvry@unicaen.fr'],

            // Envoi activé
            'send' => true,
            'send_false_exception' => [],

            // Préfixe ajouté dans les sujets
            'subjectPrefix' => '[OSCAR DEV] ',

            // Emplacement du fichier de layout pour les mails
            'template' => realpath(__DIR__.'/../../module/Oscar/view/mail.phtml'),

            // Mails utilisé pour les tests / rapport
            'administrators' => ['stephane.bouvry@unicaen.fr', 'jacksay14@gmail.com']
        ]
    ],

    // Accès BDD
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                //////////////////////////////////////////////////////// DRIVERS
                // MySQL
                //'driverClass' => '\Doctrine\DBAL\Driver\PDOMySql\Driver',
                // Postgresql
                'driverClass' => '\Doctrine\DBAL\Driver\PDOPgSql\Driver',
                ////////////////////////////////////////////////////////////////

                'doctrine_type_mappings' => array(
                    'enum' => 'string'
                ),

                ////////////////////////////////////////////////////// CONNEXION
                // Exemple
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '5432',
                    'user'     => 'oscar',
                    'password' => 'azerty',
                    'dbname'   => 'oscar_dev',
                    'charset'  => 'utf8'
                ),
            ),
        ),
    ),
);
