<?php
////////////////////////////////////////////////////////////////////////////
// 1. Adresse des services tiers

// 1.1 Gearman (Gestionnaire de tache)
$param_gearman_host = "oscar-dev-gearman";

// 1.2 Elasticsearch (Moteur de recherche)
$param_elastic_host = "oscar-dev-elasticsearch:9200";

// 1.3 Postgresql (base de données)
$param_postgresql_host = "oscar-dev-postgres";
$param_postgresql_user = "oscar_dev_user";
$param_postgresql_pass = "oscar_dev_pass";
$param_postgresql_base = "oscar_dev_db";
$param_postgresql_port = 5432;


////////////////////////////////////////////////////////////////////////////
// 2. Dossiers utilisés
// Emplacement des documents "physiques"
$param_path_document_activity = realpath(__DIR__) . '/../../docker/dev/volumes/documents/activity/';
$param_path_document_public = realpath(__DIR__) . '/../../docker/dev/volumes/documents/public/';


////////////////////////////////////////////////////////////////////////////
// 3. Modèles pour la génération des documents

// 3.1 Feuille de temps (Excel)
$param_path_template_timesheet = realpath(__DIR__) . '/../../data/timesheet_model.xls';

// 3.2 Habillage des mails (HTML/CSS)
$param_path_template_mail = realpath(__DIR__.'/../../module/Oscar/view/mail.phtml');


////////////////////////////////////////////////////////////////////////////
// 4. Mailer (Distribution des courriels)
$param_mailer_administrators = ['stephane.bouvry@unicaen.fr'];
$param_mailer_subject_prefix = '[OSCAR DEMO]';

return array(
    'view_manager' => array(
        'display_not_found_reason' => getenv('APPLICATION_ENV') == 'development',
        'display_exceptions'       => getenv('APPLICATION_ENV') == 'development',
    ),

    // Oscar
    'oscar' => [
        // Oscar Live
        'socket' => false,

        // DEV : Sortie des log en mode server built-in
        'log_stdout_enabled' => true,
        'log_stdout_level' => \Monolog\Logger::DEBUG,

        // gearman
        'gearman-job-server-host' => $param_gearman_host,


        ////////////////////////////////////////////////////////////////////////
        // ! EXPERIMENTAL !
        'generated-documents' => [
            /****
            'activity' => [
                'sample' => [
                    'label' => 'Exemple de document',
                    'template' => __DIR__ . '/../../data/generated-documents/activity/sample.docx',
                    'type' => 'Word'
                ],
                'bordereau' => [
                    'label' => 'Exemple de bordereau',
                    'template' => __DIR__ . '/../../data/generated-documents/activity/bordereau.docx',
                    'type' => 'Word'
                ]
            ]
            /****/
        ],

        // Répartition horaire
        'declarationsDurations' => [

            'dayLength'     => [
                'value' => 7.5,
                'max' => 10.0,
                'min' => 5.0,
                'days' => [
                    '1' => 8.0,
                    '2' => 8.0,
                    '3' => 8.0,
                    '4' => 8.0,
                    '5' => 8.0,
                    '6' => 0.0,
                    '7' => 0.0,
                ]
            ],

            'weekLength'     => [
                'value' => 37.0,
                'max' => 44.0,
                'min' => 20.0,
                'userChange' => false
            ],

            'monthLength' => [
                'value' => 144.0,
                'max'   => 184.0,
                'min' => 80.0,
                'userChange' => false
            ],

            'weekExceptions' => [
                '3'         => 3.0,
            ],
        ],

        // Exemples de modèle horaire
        'scheduleModeles' => [
//            'full35' => [
//                'label' => 'Plein temps (35 heures)',
//                'week' => 35.0,
//                'days' => [
//                    1 => 7.0,
//                    2 => 7.0,
//                    3 => 7.0,
//                    4 => 7.0,
//                    5 => 7.0
//                ]
//            ],
//            'full37' => [
//                'label' => 'Plein temps (37 heures)',
//                'week' => 37.0,
//                'days' => [
//                    1 => 7.5,
//                    2 => 7.5,
//                    3 => 7.5,
//                    4 => 7.5,
//                    5 => 7.0
//                ]
//            ],
//
//            'half35' => [
//                'label' => 'Mi-temps',
//                'week' => 17.5,
//                'days' => [
//                    1 => 3.5,
//                    2 => 3.5,
//                    3 => 3.5,
//                    4 => 3.5,
//                    5 => 3.5
//                ]
//            ],
//
//            'parttime' => [
//                'label' => 'Temps patiel',
//                'week' => 30.0,
//                'days' => [
//                    1 => 6.0,
//                    2 => 6.0,
//                    3 => 6.0,
//                    4 => 6.0,
//                    5 => 6.0
//                ]
//            ],
        ],

        // Désactive / Active l'option d'importation des calendriers
        'importEnable' => false,


        ////////////////////////////////////////////////////////////////////////
        //
        // PATHS  (Optionnel)
        //
        // Emplacements utilisés par oscar pour stoquer des fichiers.
        // Ces emplacements doivent être accessibles et ouvert en écriture.
        //
        ////////////////////////////////////////////////////////////////////////
        'paths' => [
            // Emplacement où sont stoqués les documents Oscar
            'document_oscar' => $param_path_document_activity,

            // Emplacement où sont stoqués les documents administratifs Oscar
            'document_admin_oscar' => $param_path_document_public,

            // Modèle de feuille de temps
            'timesheet_modele' => $param_path_template_timesheet,
        ],

         // Système de recherche
       'strategy' => [
           'activity' => [
               'search_engine' => [
                   // Elasticsearch
                   'class' => \Oscar\Strategy\Search\ElasticActivitySearch::class,
                   'params' => [["$param_elastic_host"]]
               ]
           ],
           'person' => [
               'search_engine' => [
                   // Elasticsearch
                   'class' => \Oscar\Strategy\Search\PersonElasticSearch::class,
                   'params' => [["$param_elastic_host"]]
               ]
           ],
           'organization' => [
               'search_engine' => [
                   // Elasticsearch
                   'class' => \Oscar\Strategy\Search\OrganizationElasticSearch::class,
                   'params' => [["$param_elastic_host"]]
               ]
           ]
       ],

        ////////////////////////////////////////////////////////////////////////
        //
        // CONNECTORS (Optionnel)
        //
        // Les connecteurs sont les points d'entrées pour les données utilisées
        // dans Oscar.
        // Pour le moment ne sont gérés que :
        // - Person (participants aux activités de recherche)
        // - Organization (Structures/Organisations impliquées dans les activités)
        //
        ////////////////////////////////////////////////////////////////////////
        'connectors' => [
            // Connection au tiers d'où seront obtenu les structures
            'organization' => [
                /****
               'rest' => [
                  'class'     => \Oscar\Connector\ConnectorOrganizationREST::class,
                  'params'    => realpath(__DIR__) . '/../connectors/organization_rest.yml',
                  'editable'  => false
               ],
               'db' => [
                  'class'     => \Oscar\Connector\ConnectorOrganizationDB::class,
                  'params'    => realpath(__DIR__) . '/../connectors/organization_db.yml'
               ]
               /****/
            ],
            'person' => [
               /****
               'rest' => [
                  'class'     => \Oscar\Connector\ConnectorPersonREST::class,
                  'params'    => realpath(__DIR__) . '/../connectors/person_rest.yml',
                  'editable'  => false
               ],
               'db' => [
                  'class'     => \Oscar\Connector\ConnectorPersonDB::class,
                  'params'    => realpath(__DIR__) . '/../connectors/person_db.yml'
               ]
               /****/
            ],

            /***************************************/
            /***** CONNECTOR SIFAC (Dépenses) ******/
            /***************************************
            'spent' => [
                'sifac' => [
                    'class'     => \Oscar\Connector\ConnectorSpentSifacOCI::class,
                    'params'    => [
                        // Identifiant/Mot de passe/adresse serveur
                        'username'  => 'sifac_user',
                        'password'  => 'sifac_password',
                        'SID'  => 'F13',
                        'port'      => 1527,
                        'hostname'  =>'sifac.domain.ext',

                        // Requête + clause d'optimisation
                        'optimize_clause' => ' AND STUNR > %s',
                        'spent_query' => \Oscar\Connector\ConnectorSpentSifacOCI::SPENT_QUERY
                    ]
                ]
            ]
            /**************************************/
        ],

        /*** Notifications ***/
        'notifications' => [
            // L'utilisateur peut configurer la fréquence des notifications
            'override' => false,

            // Envoi automatique
            'fixed' => ['Mer8', 'Lun20'] // ex: IMPOSE une notification chaque mercredis à 8 heure et Lundis à 20 heures
        ],

        /**********************************/
        /*** Qualification des dépenses ***/

        // Plan comptable général par défaut (standard)
        // Utilisé pour initialiser le plan comptable (modifiable ensuite
        // vie l'interface d'administration)
        'spenttypesource' => dirname(__DIR__).'/../install/plan-comptable.csv',

        // Masses
        'spenttypeannexes' => [
            "F" => "Fonctionnement",
            "I" => "Investissement",
            "P" => "Personnel"
        ],
        /**********************************/


        /*** Système d'envoi des mails ***/
        // Utilisé pour la génération des URLs dans les mails en ligne de commande
        'urlAbsolute' => 'http://localhost:8080',

        'mailer' => [
            /**** TRANSPORT (smtp)
            'transport' => [
                'type' => 'smtp',
                'host' => 'smtp.domain.tld',
                'port' => 465,
                'username' => 'smithagent',
                'password' => '@m4S!n9 P4$VV0rd',
                'security' => 'ssl',
            ],
            /****/

            /**** TRANSPORT (sendmail)
            'transport' => [
                'type' => 'sendmail',
                'cmd' => '/usr/sbin/sendmail -bs',
            ],
            /****

            /**** TRANSPORT (exim)
            'transport' => [
                'type' => 'sendmail',
                'cmd' => '/usr/sbin/exim -bs',
            ],
            /****/

            /**** TRANSPORT (file)
            'transport' => [
                'type' => 'file',
                'path' => realpath(__DIR__.'/../../data/mails'),
            ],
            /****/

            // Expéditeur
            'from' => [ 'oscar-bot@unicaen.fr' => 'Oscar Bot'],

            // Envoi d'une copy (Non effectif)
            'copy' => [],

            // Envoi activé
            'send' => true,
            'send_false_exception' => [],

            // Préfixe ajouté dans les sujets
            'subjectPrefix' => $param_mailer_subject_prefix,

            // Emplacement du fichier de layout pour les mails
            'template' => $param_path_template_mail,

            // Mails utilisé pour les tests / rapport
            'administrators' => $param_mailer_administrators
        ]
    ],

    // Accès BDD
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                //////////////////////////////////////////////////////// DRIVERS
                // Postgresql
                'driverClass' => '\Doctrine\DBAL\Driver\PDO\PgSQL\Driver',

                ////////////////////////////////////////////////////////////////

                'doctrine_type_mappings' => array(
                    'enum' => 'string'
                ),

                ////////////////////////////////////////////////////// CONNEXION
                // Exemple
                'params' => array(
                    'host'     => $param_postgresql_host,
                    'port'     => $param_postgresql_port,
                    'user'     => $param_postgresql_user,
                    'password' => $param_postgresql_pass,
                    'dbname'   => $param_postgresql_base,
                    'charset'  => 'utf8'
                ),
            ),
        ),
    ),
);