<?php
////////////////////////////////////////////////////////////////////////////

$configurationLoader = new \Oscar\Utils\Config\ConfigurationLoader(
    [__DIR__. "/oscar.yml"]
);

$configurationLoader->env(__DIR__."/../../", ".env");

try {
    $settings = $configurationLoader->load();
} catch (\Exception $e) {
    die("ERROR : " . $e->getMessage());
}

return $settings;