# unicaen-app
doctrine:
  ##############################################################
  # Accès BDD (Doctrine)
  connection:
    orm_default:
      # Driver
      driverClass: \Doctrine\DBAL\Driver\PDO\PgSQL\Driver
      doctrine_type_mappings:
        enum: string
      params:
        host: '%env(OSCAR_CONTAINER_POSGRESQL)%'
        port: '%env(OSCAR_CONTAINER_POSGRESQL_PORT)%'
        user: '%env(OSCAR_CONTAINER_POSGRESQL_USER)%'
        password: '%env(OSCAR_CONTAINER_POSGRESQL_PASS)%'
        dbname: '%env(OSCAR_CONTAINER_POSGRESQL_BASE)%'
        charset: 'utf8'

oscar:
  socket: false
  log_stdout_enabled: true
  log_stdout_level: '%env(OSCAR_LOG_LEVEL)%'

  gearman-job-server-host: '%env(OSCAR_CONTAINER_GEARMAN)%'

# Vite (Prod) -------------------------------------------
  vite:
    mode: 'prod'
    src: '/var/application/ui'
    dest: '/var/application/public/js/oscar/vite/dist'
    base_url_dev: '/'
    base_url_prod: '/js/oscar/vite/dist'

  ##############################################################
  # DOCUMENTS
  ##############################################################
  # Emplacements
  paths:
    # Documents des activités
    document_oscar: '%env(OSCAR_VOLUMES_DOCUMENTS_ACTIVITY)%'
    # Documents "Publiques"
    document_admin_oscar: '%env(OSCAR_VOLUMES_DOCUMENTS_PUBLIC)%'

  # Documents générés
  generated-documents:
    activity:
      sample:
        label: "Exemple de document"
        template: "'%env(OSCAR_PATH)%'/data/generated-documents/activity/sample.docx"
        type: "Word"
      bordereau:
        label: "Exemple de bordereau"
        template: "'%env(OSCAR_PATH)%'/data/generated-documents/activity/bordereau.docx"
        type: "Word"

  ##############################################################
  # FEUILLES de TEMPS
  ##############################################################
  importEnable: '%env(OSCAR_TIMESHEET_IMPORT_ENABLE)%'

  ##############################################################
  # RECHERCHE
  ##############################################################
  strategy:
    activity:
      search_engine:
        class: \Oscar\Strategy\Search\ElasticActivitySearch
        params:
          - "%env(!string:OSCAR_CONTAINER_ELASTICSEARCH_ADDR)%"

    person:
      search_engine:
        class: \Oscar\Strategy\Search\PersonElasticSearch
        params:
          - "%env(!string:OSCAR_CONTAINER_ELASTICSEARCH_ADDR)%"

    organization:
      search_engine:
        class: \Oscar\Strategy\Search\OrganizationElasticSearch
        params:
          - "%env(!string:OSCAR_CONTAINER_ELASTICSEARCH_ADDR)%"

unicaen-app:
  app_infos:
      nom:      'DkOSCAR'
      desc:     'Organisation et Suivi des Contrats et des Activités de Recherche'
      version:  'docker'
      date:     '2025'
      contact:
        mail: 'dsi.applications@unicaen.fr'
      mentionsLegales: 'http://www.unicaen.fr/outils-portail-institutionnel/mentions-legales/'
      informatiqueEtLibertes: 'http://www.unicaen.fr/outils-portail-institutionnel/informatique-et-libertes/'
  connection:
    default:
      params:
        host: '%env(LDAP_HOST)%'
        port: '%env(LDAP_PORT)%'
        username: '%env(LDAP_USERNAME)%'
        password: '%env(LDAP_PASSWORD)%'
        baseDn: '%env(LDAP_BASEDN)%'
        bindRequiresDn: '%env(LDAP_BASEDN_REQUIRED)%'
        accountFilterFormat: '%env(LDAP_ACCOUNT_FILTER_FORMAT)%'
  dn:
    UTILISATEURS_BASE_DN: '%env(LDAP_DN_UTILISATEURS_BASE_DN)%'
    UTILISATEURS_DESACTIVES_BASE_DN: '%env(LDAP_DN_UTILISATEURS_DESACTIVES_BASE_DN)%'
    GROUPS_BASE_DN: '%env(LDAP_DN_GROUPS_BASE_DN)%'
    STRUCTURES_BASE_DN: '%env(LDAP_DN_STRUCTURES_BASE_DN)%'

  filters:
    LOGIN_FILTER: '%env(LDAP_FILTERS_LOGIN_FILTER)%'

unicaen-auth:
  # Usurpation d'identité
  usurpation_allowed_usernames:
    - bouvry
    - admin
  # Accès Shibboleth
  shib:
    order: 4
    enabled: false
    description: "Fédération d'identitié"
    logout_url: "/Shibboleth.sso/Logout?return="
    aliases:
      eppn: "HTTP_EPPN"
      mail: "HTTP_MAIL"
      eduPersonPrincipalName: "HTTP_EPPN"
      supannEtuId: "HTTP_SUPANNETUID"
      supannEmpId: "HTTP_SUPANNEMPID"
      supannCivilite: "HTTP_SUPANNCIVILITE"
      displayName: "HTTP_DISPLAYNAME"
      sn: "HTTP_SN"
      givenName: "HTTP_GIVENNAME"
  # Accès CAS
  cas:
    order: 1
    enabled: false
    description: Authentification CAS
    connection:
      default:
        params:
          hostname: 'host.domain.fr'
          port: 443
          version: "2.0"
          uri: ""
          debug: false