<?php
/**
 * Dupliquer ce fichier en supprimant .dist
 */
$settings = array(
    /**
     * Informations concernant cette application
     */
    
    'ldap' => array(
            'connection' => array(
                'default' => array(
                    'params' => array(
                        'host'                => 'XXX.XXXXX.XX',
                        'port'                => 389,
                        'username'            => "PERSEVAL",
                        'password'            => "CPAFO",
                        'baseDn'              => "XXXXXXXXXXX",
                        'bindRequiresDn'      => true,
                        'accountFilterFormat' => "XXXXXXXXXXX",
                    )
                )
            )
        ),
    /**
     * Options concernant l'envoi de mail par l'application
     */
    'mail' => array(
       // transport des mails
       'transport_options' => array(
           'host' => 'smtp.unicaen.fr',
           'port' => 25,
       ),
       // adresses à substituer à celles des destinataires originaux ('CURRENT_USER' équivaut à l'utilisateur connecté)
       'redirect_to' => array('dsi.applications@unicaen.fr', /*'CURRENT_USER'*/),
       // désactivation totale de l'envoi de mail par l'application
       'do_not_send' => false,
    ),
);

/**
 * You do not need to edit below this line
 */
return array(
    'unicaen-app' => $settings,
);